FriedLiver/dump
FriedLiver/scans
FriedLiver/x64
FriedLiver/FriedLiver.sdf
FriedLiver/FriedLiver.opensdf
FriedLiver/FriedLiver.v12.suo
FriedLiver/ipch
FriedLiver/CompiledShaders
FriedLiver/FriedLiver.vcxproj.user
FriedLiver/vc120.pdb
